# Package specific
docs/src/gallery/

# Python
*.py[cod]
**__pycache__/
build/
dist/
*.egg-info/

# Editors
.idea/
.vim/

# Tools
.coverage
coverage.xml
docs/build
.tox/

# Environments
.env
.venv
env/
venv/
env.bak/
venv.bak/
